.grupo-link, .groud-link:after {
    display: block;
    background-color: rgb(245,245,245);
    padding: 30px 5px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.grupo-link:hover {
    background-color: rgb(200,200,200);
    text-decoration: none;
}

.row, .grupo-link {
    margin-top: 20px;
    
}